@import '../variables';

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  font-size: 48rem;
  line-height: 52rem;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;

  @media (max-width: $tabletMax) {
    font-size: 32rem;
    line-height: 36rem;
  }
}

p {
  font-size: 16rem;
  font-weight: 400;
}