@import '../variables';

.badge {
  border-radius: 100px;
  order: 0;
  flex-grow: 0;
  padding: 8rem 16rem;
  width: fit-content;

  &.available {
    background: $gradient1;
  }

  &.soon {
    background: $infoLight;
  }
}