@import 'variables';
@import 'components/styles-font';
@import 'components/styles-btn';
@import 'components/styles-text';
@import 'components/styles-input';
@import 'components/styles-badge';

html {
  font-size: 0.0694445vw;
  scroll-behavior: smooth;
  font-family: poppins, serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16rem;
  line-height: 18rem;
  background-color: $neutral6;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.container {
  width: 1200rem;
  margin: 0 auto;
  position: relative;
}

section {
  position: relative;
}