//////////////////////////////////
///////////// COLOR //////////////
//////////////////////////////////

$primary: #92E7E8;
$primaryDark: #49D4D6;
$primaryLight: #C3F9FA;

$success: #B1FFA1;
$successDark: #1D640E;
$successLight: #D2FCC9;

$danger: #E892CA;
$dangerDark: #5E1444;
$dangerLight: #FCBCE5;

$warning: #FFDDC7;
$warningDark: #784524;
$warningLight: #F8D7C2;

$info: #B4ADFF;
$infoDark: #302D55;
$infoLight: #DDDAFF;

$disable: #EFEFEF;
$disableDark: #171625;
$disableLight: #686C78;

$neutral1: #F2F1FB;
$neutral2: #D8D5FB;
$neutral3: #AAA6D7;
$neutral4: #7572A0;
$neutral5: #28254D;
$neutral6: #19172F;
$neutral7: #141327;

$overlay1: rgba(19, 4, 21, 0.6);
$gradient1: linear-gradient(90deg, #F296D2 0%, #FFB483 100%);

$white: #ffffff;
$black: #000000;

//////////////////////////////////
////////// TRANSITION ////////////
//////////////////////////////////

$timeTransitionShort: 0.3s;

//////////////////////////////////
////////// RESPONSIVE ////////////
//////////////////////////////////

$desktopMax: 1440px;

$tabletMax: 992px;

$mobileMax: 480px;
//$mobileMax: 525px;
