//////////////////////////////////
///////////// COLOR //////////////
//////////////////////////////////

$white: #ffffff;
$black: #000000;

//////////////////////////////////
////////// TRANSITION ////////////
//////////////////////////////////

$timeTransitionShort: 0.3s;

//////////////////////////////////
////////// RESPONSIVE ////////////
//////////////////////////////////

$desktopMax: 1440px;

$tabletMax: 992px;

$mobileMax: 480px;
